@media (max-width:1500px) {
  .welcome-ball {
    position: relative;
    left: 100px;
    bottom: 100px;
  }
}

@media (max-width:1024px) {

  /* ####################### Header ####################### */
  .container {
    margin-top: 0px;
  }

  header {
    width: 100%;
  }

  .header-inner {
    width: 100%;
    position: relative;
  }

  header nav {
    float: none;
    background-color: #fff;
    position: fixed;
    height: 100vh;
    width: 250px;
    top: 0;
    left: -260px;
    padding-top: 70px;
    padding-left: 15px;
    transition: .5s;
    box-shadow: 3px 0 3px rgba(0, 0, 0, 0.1);
  }

  header nav.active {
    left: 0;
  }

  header nav a {
    display: block;
    margin-bottom: 5px;
  }

  header nav a:after {
    content: '';
  }

  .logo img {
    position: absolute;
    top: 40%;
    left: 69%;
    transform: translate(-50%, -50%);
  }

  .info {
    position: absolute;
    right: 0px;
  }

  /* Trigger */
  .trigger {
    z-index: 3;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 25px;
    left: 20px;
    font-size: 28px;
    text-align: center;
  }

  .trigger:before {
    content: '\e91c';
    font-family: xeicon;
  }

  .trigger.active:before {
    content: '\e9af';
    /* font-family: xeicon; */
  }

  /* ============Section: welcome============ */
  .welcome-ball {
    position: relative;
    left: 100px;
    bottom: 250px;
  }

  .slick-list {
    margin-top: -20vh;
  }

  /* ============ Section: tip ============ */
  .tip {
    margin-top: -35vh;
  }

  /* ============ Section: tip-modal ============ */
  .tip-contents {
    width: 100%;
  }

  .modal-content {
    width: 85%;
    height: 85%;
  }

  /* ============ Section: class ============ */
  .class-inner {
    width: 100%;
  }

  .class-contents {
    margin-top: 10vh;
  }

  .class-head {
    margin-bottom: 24vh;
  }

  .class-slide img {
    margin-right: 1vh;
  }

  /* ============ Section: movie ============ */
  .movie {
    margin-top: 7vh;
  }
  

  /* ============ Section: story ============ */
  .story {
    /* margin-top: 30vh; */
  }

  .story-inner {
    width: 100%;
  }

  .story-left {
    width: 40%;
  }

  /* ============ Section: event ============ */
  .event {
    margin-top: 10vh;
  }

  .event-contents>div {
    display: flex;
    height: 30vh;
  }

  .event-photo img {
    width: 100%;
  }

  /* ============ Section: instar ============ */
  .instar {
    margin-top: 10vh;
  }

  .instar-inner {
    width: 100%;
    margin: auto;
  }

  .instar-slide {
    width: 100%;
    margin-top: 22vh;
  }

  .slick-prev:before,
  .slick-next:before {
    display: none;
    visibility: hidden;
  }

  .slick-prev,
  .slick-next {
    display: none;
    visibility: hidden;
  }

  /* ============ Section: course ============ */
  .course {
    padding-top: 15vh;
  }

  .course-btns {
    width: 100%;
    display: flex;
  }

  .course-inner {
    width: 100%;
  }

  .course-contents {
    width: 100%;
  }

  .tab {
    width: 100%;
  }

  .course-paragraph {
    padding: 0 2vw;
  }

  .course-item {
    width: 30%;
    flex-basis: 30%;
    margin-bottom: 4vh;
    border: 1px solid #eee;
  }

  .course-paragraph:nth-child(1) {
    margin-top: 5vh;
  }

  .tab .course-paragraph:last-child {
    float: none;
  }

  .course-img {
    overflow: hidden;
    height: 36vh;
  }

  .course-img img {
    width: 30vw;
  }

  .course-desc {
    margin-top: -1vh;
    width: 29vw;
    height: 20vh;
  }

  .course-desc span {
    font-size: 2vw;
    margin-top: 3vh;
  }

  .course-desc p {
    font-size: 1.1vw;
    line-height: 1.7;
  }

  /* ============ Section: footer ============ */
  footer {
    height: 40vh;
    margin-top: 2vh;
  }

  .footer-inner {
    width: 100%;
    margin: auto;
  }

  .footer-top>div {
    float: none;
    width: 100%;
  }

  .footer-left p {
    width: 100%;
  }

  .footer-right {
    float: none;
    display: block;
  }

  .footer-item {
    display: none;
  }

  /* ============ Section: login/join ============ */
  /* login / join */
  .login,
  .join {
    display: flex;
    overflow: hidden;
  }

  form {
    margin: auto;
    height: 40vh;
    padding: 4vw;
  }
}

@media (max-width:800px) {
  .logo img {
    position: absolute;
    top: 40%;
    left: 70%;
    transform: translate(-50%, -50%);
  }

  .slick-list {
    margin-top: -30vh;
  }

  /* ============Section: welcome============ */
  .welcome-ball {
    position: relative;
    left: 0px;
    bottom: 360px;
  }

  /* ============ Section: tip ============ */
  .tip {
    margin-top: -50vw;
  }
  .modal-content img {
    width: 100%;
  }
  .modal-content iframe {
    width: 90%;
  }

  /* ============ Section: class ============ */
  .class-head {
    margin-bottom: 270px;
  }

  .movie>h2 {
    margin-top: -12vh;
  }

  /* ============ Section: movie ============ */
.movie {
  margin-top: 9vh;
}

  /* ============ Section: story ============ */

  
  /* ============ Section: course ============ */
.course-contents {
  height: 700px;
}

.course-item {
  width: 40%;
  flex-basis: 40%;
}

.course-img img {
  width: 40vw;
}

.course-desc {
  margin-top: -1vh;
  width: 38vw;
  height: 20vh;
}

.course-desc span {
  font-size: 2vw;
  margin-top: 3vh;
}

.course-desc p {
  font-size: 1.5vw;
  line-height: 1.7;
}
.course-item:nth-child(3) {
  display: none;
}

.instar-slide {
  padding-top: 10vh;
}
}

@media (max-width:600px) {

  /* ============Section: welcome============ */
  .welcome-ball {
    display: none;
  }

  .logo img {
    position: absolute;
    top: 40%;
    left: 85%;
    transform: translate(-50%, -50%);
  }

  .info {
    display: none;
  }
  /* ============ Section: course ============ */
/* .course-contents {
  height: 600px;
}

.course-item {
  width: 40%;
  flex-basis: 40%;
}
.course-img img {
  width: 40vw;
}

.course-desc {
  width: 38vw;
  height: 10vh;
}

.course-desc span {
  font-size: 2vw;
  margin-top: -2vh;
}

.course-desc p {
  font-size: 1.5vw;
  line-height: 1.7;
}
.course-item:nth-child(3) {
  display: none;
} */
}

@media (max-width:480px) {
  .logo img {
    position: absolute;
    top: 40%;
    left: 90%;
    transform: translate(-50%, -50%);
  }
  .slick-list {
    margin-top: -40vh;
  }
  /* ============ Section: tip ============ */
  .tip {
    margin-top: -110vw;
  }
  .tip-item > h3 {
    font-size: 3.5vw;
  }
  .tip-item > p {
    font-size: 1.5vw;
  }

  /* ============ Section: class ============ */
  .class-head {
    margin-bottom: 350px;
  }

  .movie>h2 {
    margin-top: -12vh;
  }

  /* ============ Section: story ============ */
  .story-contents {
    padding: 0;
  }
  .story-left {
    width: 40%;
  }
  .story-title {
    margin-left: -5vw;
  }
  .story-title > h2 {
    font-size: 4.3vw;
  }
  .story-title > p {
    font-size: 2.5vw;
  }
  .story-btn > a {
    padding: 3vw 4vw;
  }
  .story-photo > img {
    width: 30vw;
  }
  .story-item {
    margin-top: 4vh;
  }
  .story-item > p {
    font-size: 2.5vw;
  }
  .prev,.next {
    display: none;
  }
  .story-left {
    width: 40%;
    margin-left: 60px;
  }
  .story-right {
    width: 40%;
  }
  .story-btn {
    margin-top: 4vh;
  }
  .story-item:nth-child(2) {
    display: none;
    visibility: hidden;
  }
  .story-item {
    margin-right: 1vw;
  }
  .prev {
    left: -150px;
  }
  .next {
    left: 100px;
  }
  .controller {
    width: 270px;
  }
  .instar-slide {
    padding-top: 20vh;
    margin-bottom: -200px;
  }
  .footer-bottom {
    display: none;
  }

  /* ============ Section: event ============ */
  .event-photo img {
    height: 70%;
  }
  .event-photo:nth-child(3),
  .event-photo:nth-child(6),
  .event-photo:nth-child(1) {
    display: none;
  }
  /* ============ Section: instar ============ */
  .instar {
    margin-top: 0;
  }
}


@media (max-width:320px) {}