/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/* XEION CDN */
@import url('https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

/* Web Fonts - Source Sans Pro */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
/* font-family: 'Source Sans Pro', sans-serif; */

/* Web Fonts - NoonNoo */
@font-face {
  font-family: 'NanumSquareNeo-Variable';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* Reset CSS */
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #222;
}
button, input {
  outline: none;
}
h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
  font-weight: normal;
  line-height: 1.5em;
}

/* Default CSS */
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'NanumSquareNeo-Variable', 'Source Sans Pro', sans-serif;
  font-size: 15px;
  line-height: 1.7em;
  margin: 0;
  background-color: #F0E7DB;
  color: #53513D;
}
body.active {
  overflow: hidden;
}

/* Common CSS */
.common-title {
  text-align: center;
  font-size: 30px;
  letter-spacing: 2px;
}
.common-title span {
  display: block;
  font-size: 15px;
  color: #53513d99;
}

/* ####################### Header ####################### */
header.active {
  position: fixed;
  width: 100%;
  height: 90px;
  background-color: #fff;
  top: 0;
  z-index: 1;
}
header {
  position: fixed;
  width: 1800px;
  height: 90px;
  background-color: #fff;
  z-index: 1;
  margin: auto;
  text-align: center;
  top: 14px;
  left: 50%;
  transform: translate(-50%);
  transition: .3s;
}
.header-inner {
  width: 1300px;
  height: inherit;
  margin: auto;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
}
header nav {
  float: left;
}
header nav a {
  font-size: 14px;
}
header nav a:hover,
.info a:hover {
  font-weight: bold;
  color: #53513D;
}
header nav a:after {
  content: '|';
  padding: 8px;
  font-size: 12px;
  color: #ccc;
  position: relative;
  top: -2px;
  font-weight: normal;
}
header nav a:last-child:after {
  content: '';
}
.logo img {
  width: 200px;
  margin-top: 6px;
  margin-left: -200px;
}
.info {
  font-size: 12px;
}
.info a {
  margin-right: 10px;
}

/* ============Section: welcome============ */
.welcome {
  height: 90vh;
  position: relative;
}
.welcome-slide {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.welcome-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.welcome-slide {
  position: relative;
}
.welcome-title {
  position: absolute;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.welcome-title h1 {
  font-weight: bold;
  font-size: 60px;
  margin: 0 0 10px 0;
}
.welcome-title span {
  font-size: 20px;
}
.welcome-goto {
  position: absolute;
  cursor: pointer;
}
.welcome-ball {
  position: relative;
  left: 100px;
  bottom: 60px;
}
.welcome-ball img {
  width: 120px;
  animation: ani01 .9s linear 0s infinite alternate; margin-top: 0;
}
.welcome-goto p {
  color: #fff;
  text-align: center;
  margin-top: 33px;
}
@keyframes ani01 {
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: 10px;
  }
}

/* ============ Section: tip ============ */
.tip {
  height: 180px;
}
.tip-inner {
  height: inherit;
  width: 1300px;
  margin: auto;
}
.tip-contents {
  margin: auto;
  margin-top: 200px;
  height: 180px;
  background-color: #fff;
  text-align: center;
  vertical-align: middle;
  width: 900px;
}
.tip-items {
  display: table;
  width: 100%;
  height: 180px;
  table-layout: fixed;
  transition: .3s;
  font-weight: 500;
  position: relative;
}
.tip-item {
  display: table-cell;
  vertical-align: middle;
  position: relative;
}
.tip-item:after {
  content: '';
  position: absolute;
  right: 0;
  top: 50px;
  background-color: #d7d7d7;
  width: 1px;
  height: 80px;
}
.tip-item:hover:after {
  content: '';
  display: none;
}
.tip-item:last-child:after {
  content: none;
}
.tip-item:hover {
  cursor: pointer;
  background-color: #53513D;
  color: #fff;
}
.tip-items h3 {
  font-size: 20px;
  font-weight: 500;
}
.tip-items p {
  margin-bottom: 0;
  font-size: 15px;
}
/* ============ Section: tip-modal ============ */
.tip-modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 9999;
  left: 0;
  top: 0;
  display: none;
}
.modal-content {
  position: absolute;
  background-color: #fff;
  width: 850px;
  height: 850px;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 50px;
}
.modal-content img {
  width: 750px;
}
.modal-close {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  font-weight: bold;
}
.modal-desc {
  font-family: Fontawesome;
  text-align: left;
  margin-top: 20px;
  padding: 23px;
}
.modal-desc i {
  font-style: normal;
  margin-right: 20px;
  font-weight: bold;
}
/* ============ Section: class ============ */
.class {}
.class-inner {
  width: 1100px;
  margin: auto;
}
.class-contents {
  margin-top: 80px;
}
.class-head {
  text-align: center;
  margin-bottom: 30px;
  cursor: pointer;
  transition: .35s;
  text-align: center;
}
.class-head span {
  color: #53513d99;
}
.class-head span:after {
  content: '|';
  padding: 20px;
  color: #aaa;
  font-weight: normal;
  position: relative;
  top: -2px;
}
.class-head span:last-child:after {
  content: '';
}
.class-head span.active {
  font-weight: bold;
  color: #53513D;
}
.class-slide {
  transition: .1s;
}
.class-slide img {
  margin-right: 20px;
  width: 275px;
}
.class-btn {
  font-size: 12px;
  text-align: center;
  margin-top: 50px;
  padding: 0 10px;
}
.class-btn a,
.story-btn a {
  transition: .3s;
  background-color: #53513D;
  color: #fff;
  padding: 20px 50px;
  line-height: 1.6;
  letter-spacing: 2px;
  box-sizing: border-box;
}
.class-btn a:hover,
.story-btn a:hover {
  background-color: #E0BE5C;
  color: #53513D;
}
.class-slide .slick-prev:before, 
.class-slide .slick-next:before {
  /* display: none; */
  color: #53513D;
  font-family: xeicon;
  opacity: 1;
  font-size: 25px;
}
.class-slide .slick-prev:before {
  content: '\e93c';
  margin-left: -35px;
}
.class-slide .slick-next:before {
  content: '\e93f';
}
.class-slide {
  display: none;
}
.class-slide.active {
  display: block;
}

/* ============ Section: movie ============ */
.movie {
  margin-top: 80px;
  text-align: center;
  position: relative;
  width: 100%;
  height: 100vh;
}
.video-content {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* ============ Section: story ============ */
.story {
}
.story-inner {
  width: 1000px;
  margin: auto;
  background-color: #E4D8C3;
}
.story-contents {
  overflow: hidden;
  padding: 40px;
}
.story-left {
  float: left;
  width: 40%;
  margin-top: 50px;
}
.story-btn {
  font-size: 12px;
  margin-top: 50px;
  padding: 0 10px;
}
.story-right {
  float: right;
  height: 300px;
  width: 60%;
  text-align: center;
}
.story-slide {
  position: relative;
  overflow: hidden;
  height: 300px;
  width: 600px;
}
.controller {
  position: absolute;
  width: 550px;
  display: none;
}
.controller span {
  position: absolute;
  background-color: transparent;
  color: #000;
}
.controller.active {
  display: block;
}
.controller > div {
  float: left;;
}
.story-item {
  padding: 10px;
  margin-right: 30px;
  cursor: pointer;
}
.story-item img {
  width: 220px;
}
.story-item p {
  font-weight: 500;
}
.story-item small {
  font-weight: normal;
  color: #53513d99;
}
.story-btn2 {
  text-align: center;
}
.prev, .next {
  width: 50px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  background-color: transparent;
  font-weight: bold;
}
.prev {
  position: relative;
  left: -300px;
  top: -200px;
}
.next {
  position: relative;
  left: 250px;
  top: -200px;
}

/* ============ Section: event ============ */
.event {
  margin-top: 100px;
}
.event-contents {
  overflow: hidden;
}
.event-contents > div {
  float: left;
  width: 33.333333%;
  height: 400px;
}
.event-contents {}
.event-photo {
  overflow: hidden;
  cursor: pointer;
  width: 700px;
  height: 400px;
}
.event-photo img {
  transition: all .3s;
  transform: scale(1);
  transition: transform .3s, filter .3s;
  filter: grayscale(100%);
}
.event-photo img:hover { 
  transform: scale(1.1);
  filter: grayscale(0%);
}
.event-photo img:not(:hover) {
  filter: grayscale(100%);
}

/* ============ Section: instar ============ */
.instar {
  margin-top: 100px;
}
.instar-inner {
  width: 1300px;
  margin: auto;
}
.instar-slide {
  width: 1200px;
  margin-top: 20px;
}
.instar-slide img {
  width: 100px;
  margin-right: 10px;
  cursor: pointer;
}
.instar-slide .slick-prev:before, 
.instar-slide .slick-next:before {
  /* display: none; */
  color: #53513D;
  font-family: xeicon;
  opacity: 1;
  font-size: 25px;
}
.instar-slide .slick-prev:before {
  content: '\e93c';
  margin-left: -35px;
}
.instar-slide .slick-next:before {
  content: '\e93f';
  margin-right: -35px;
}

/* ============ Section: course ============ */
.course {
  height: 220vh;
  padding-top: 200px;
}
.course-inner {
  width: 1200px;
  margin: auto;
}
.course-btns a {
  display: inline-block;
  background-color: #BBB8A5;
  color: #fff;
  width: 397.5px;
  text-align: center;
  padding: 12px;
  height: 50px;
  transition: .35s;
  border-top: 3px solid transparent;
}
.course-btns a.active {
  background-color: #fff;
  color: #BBB8A5;
  border-top: 3px solid #BBB8A5;
  font-weight: bold;
}
.course-contents {
  position: relative;
  height: 1800px;
  background-color: #fff;
}
.tab {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: .35s;
  width: 1200px;
}
.tab.active {
  opacity: 1;
  visibility: visible;
}
.tab:target {
  opacity: 1;
  visibility: visible;
}
.tab:not(.active) {
  opacity: 0;
  visibility: hidden;
}
.course-paragraph {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 22px;
}
.course-paragraph:nth-child(1) {
  margin-top: 50px;
}
.course-paragraph:last-child {
  margin-right: 0;
}
.tab .course-paragraph:last-child {
  float: left;
  margin-left: 12px;
}
.tab .course-paragraph:last-child .course-item {
  margin-right: 24px;
}
.course-item {
  flex-basis: 30%;
  cursor: pointer;
  /* box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.128); */
  margin-bottom: 40px;
}
.course-img {
  overflow: hidden;
  height: 360px;
}
.course-img img {
  width: 360px;
  transition: .35s;
}
.course-img img:hover {
  scale: 1.1;
}
.course-desc {
  margin-top: -10px;
  width: 360px;
  height: 200px;
  border: 1px solid #ddd;
  padding: 0px 16px;
}
.course-desc span {
  font-size: 20px;
  font-weight: bold;
  display: block;
  margin-top: 30px;
}
.course-desc p {
  font-size: 13px;
  line-height: 1.7;
}

/* ============ Section: footer ============ */
footer {
  background-color: #BBB8A5;
  height: 400px;
  margin-top: 100px;
}
.footer-inner {
  width: 1300px;
  margin: auto;
}
.footer-contents {
  padding-top: 75px;
  font-size: 14px;
}
.footer-top {
  overflow: hidden;
}
.footer-top > div {
  float: left;
  width: 50%;
}
.footer-bottom {
  border-top: 1px solid #53513D;
  margin: 20px 0;
}
.footer-right {
  display: flex;
  justify-content: space-between;
}
.footer-left p {
  width: 600px;
}
.footer-logo img {
  width: 200px;
}
.footer-item {
  width: 200px;
}
.footer-item h3 {
  font-weight: bold;
}
.footer-bottom > div {
  margin-top: 20px;
}
.copyright {
  float: left;
}
.sns {
  float: right;
  font-size: 20px;
  letter-spacing: 2px;
}

/* ============ Section: login/join ============ */

/* login / join */
.login, .join {
  margin-top: 160px;
  display: flex;
  overflow: hidden;
}
form {
  margin: auto;
  width: 500px;
  height: 400px;
  padding: 40px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  font-family: 'fontawesome';
}
.login span {
  display: block;
}
input[type='email'],
input[type='password'],
input[type='text'],
input[type='tel'] {
  width: 100%;
  padding: 15px;
  border: 1px solid #ddd;
  margin-top: 5px;
}
input[type='email']:hover,
input[type='password']:hover,
input[type='text']:hover,
input[type='tel']:hover {
  border: 1px solid #bbb;
  box-shadow: 0 0 5px #bbb;
}
input[type='email']::placeholder,
input[type='password']::placeholder,
input[type='text']::placeholder,
input[type='tel']::placeholder {
  font-style: italic;
  opacity: 1;
  transition: .3s;
}
input[type='email']:focus::placeholder,
input[type='password']:focus::placeholder,
input[type='text']:focus::placeholder,
input[type='tel']:focus::placeholder {
  visibility: hidden;
  opacity: 0;
}
.join input[type='email']::placeholder,
.join input[type='password']::placeholder,
.join input[type='text']::placeholder,
.join input[type='tel']::placeholder {
  float: left;
  margin-left: 25px;
}
.login span:nth-of-type(2) {
  margin-top: 10px;
}
.join input[type='email'],
.join input[type='password'],
.join input[type='text'],
.join input[type='tel']{
  margin-right: 10px;
}

.join input[type='email'] {
  background: url('../image/join/email-icon.png') no-repeat center left 10px;
  background-size: 14px;
}
.join input[type='password'] {
  background: url('../image/join/password-icon.png') no-repeat center left 10px;
  background-size: 14px;
}
.join input[type='text'] {
  background: url('../image/join/name-icon.png') no-repeat center left 10px;
  background-size: 14px;
}
.join input[type='tel'] {
  background: url('../image/join/phone-icon.png') no-repeat center left 10px;
  background-size: 14px;
}
.left {
  float: left;
}
.right {
  float: right;
  font-size: 14px;
  margin-bottom: 20px;
  transition: .3s;
  margin-top: 5px;
}
.right:hover {
  text-decoration: underline;
}
.btn {
  border: 1px solid #53513D;
  background-color: #53513D;
  color: #fff;
  cursor: pointer;
  width: 300px;
  padding: 20px;
  font-size: 24px;
  transition: .3;
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 20px;
}
.btn:hover {
  background-color: #575752;
  color: #fff;
  border: 1px solid #53513D;
}
.que {
  float: right;
  margin-top: 10px;
  font-size: 14px;
}
.que > a:hover {
  text-decoration: underline;
}


/* goto-top */
.btn-top {
  position: fixed;
  background-color: #53513D;
  color: #fff;
  right: 20px;
  bottom: 50px;
  padding: 15px 20px;
  font-size: 20px;
  transition: .5s;
}
.btn-top.active {
  bottom: 20px;
}

/* ▦▦▦▦▦▦▦▦▦ Scroll Reveal CSS Animation ▦▦▦▦▦▦▦▦▦ */
.utd {
  animation: utd .5s linear both;
}
@keyframes utd {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}